
.calculator{
    padding: 10px;
    height: 380px;
    width: 400px;
    margin: auto;
   background-color: #191b28;
  
}

.display{
    font-family: sans-serif,serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}

.button{
    cursor: pointer;
 font-family: sans-serif;
 background-color: #64278f;
 color: white;
 border: solid black 0.5px;
 width: 100%;
 border-radius: 5px;
 height: 70%;
}
.button:active {
 background: red;

}
